# Copy this to terraform.tfvars and fill in your values
aws_region      = "eu-central-1"
environment     = "prod"
sender_email    = "your-email@gmail.com"
sender_password = "your-gmail-app-password"
recipient_email = "recipient@gmail.com"
min_adjacent_seats = 2
